[2018-05-05 19:44] zsmb13 opened #15 "Editor reformats code, and its formatting doesn't match the style IntelliJ uses"
### Example, chained method calls:

Original code:

[code]

Reformatted by the editor:

[code]

### Example, lambda braces:

Original:

[code]

Reformatted:

[code]

[2018-05-07 15:02] AlexanderPrendota commented on #15
@zsmb13 Yes, I know, but It's not main task we have. Unfortunately it's Codemirror issue in [clike mode](https://github.com/codemirror/CodeMirror/blob/master/mode/clike/clike.js). If you have any time try to help us. We will be happy.

[2018-07-03 20:46] msasikanth opened #19 "Error when creating own instance using NPM"
I have tried creating my own instance using NPM, but once I added `var playground = require('kotlin-playground');` to my js file I am getting ReferenceError: "navigator is not defined".

[2018-07-04 07:41] AlexanderPrendota commented on #19
@msasikanth Hello! If you can provide me a simple stand-alone script, I can take a look.

[2018-07-04 08:48] msasikanth commented on #19
I am getting this error as soon as I use the import statement. Even before I write any script. But if still want the code I used it's the same as the one in read me file

import playground from 'kotlin-playground'; document.addEventListener('DOMContentLoaded', () => { playground('code'); // attach to all  elements });

[2018-07-04 09:11] AlexanderPrendota commented on #19
@msasikanth I just created simple ReacJS application and install playground via `yarn add playground`.Kotlin-playground works fine for me. So, Did you try to drop all node_modules and install ones again?

[2018-07-04 09:39] msasikanth commented on #19
@AlexanderPrendota I created a simple webapp using expressjs from Idea, I added kotlin playground dependency using `npm install kotlin-playground -S`.

But as soon as I use import statement and run the webserver I am getting error again. I tried it without express js and a simple webapp from VisualStudio as well.

[2018-07-04 10:29] AlexanderPrendota commented on #19
@msasikanth Oh. I see. Kotlin-Playground runs in the browser, it is written to rely on certain browser APIs. One such API it relies on is [navigator](https://developer.mozilla.org/en-US/docs/Web/API/Navigator). The same behavior as in [CodeMirror](https://codemirror.net/).

Also, you can add playground via script tag:
`<script src="https://unpkg.com/kotlin-playground@1" data-selector="code"></scri

[2018-07-04 11:09] msasikanth commented on #19
So best option right now is to use the ReactJS or use the script tag?

[2018-07-04 11:15] AlexanderPrendota commented on #19
@msasikanth Only client side. Kotlin-Playground can only be loaded in a browser environment (because it doesn't do anything useful outside of that).

[2018-07-04 11:16] #19 closed

[2018-07-05 13:37] AlexanderPrendota commented on #15
Fixed since commit [`e338ab2`](https://github.com/codemirror/CodeMirror/commit/e338ab23b69dd8aebe0a976220387e0ac187d107)

[2018-07-05 13:37] #15 closed

[2018-08-17 15:55] ark-1 opened #20 "Conversion of empty code"
If there's nothing between opening and closing tags of an element to be converted, then conversion doesn't go properly. In the following page it doesn't happen at all:
[code]
And the following code results in a malformed element:
[code]

[2018-08-22 09:55] AlexanderPrendota commented on #20
Should work after [`0454641`](https://github.com/JetBrains/kotlin-play/pull/2/commits/500dc7d72583183b089ec921e15b85d993eb2384)

[2018-08-22 09:55] #20 closed

[2018-10-24 12:01] lahanegs opened #23 "Create a keyboard shortcut for running code"
It will be more convenient to run code by pressing keyboard shortcut instead of clicking on Run button

[2018-10-24 12:21] lahanegs commented on #23
short cut is already there. Issue created by mistake

[2018-10-24 12:21] #23 closed

[2018-10-25 02:59] lahanegs opened #24 "Enable resizing"
Currently it is unable to resize the working area and output window. It will be great if I will be able to wish to play with code in full screen mode.

[2018-10-25 06:59] AlexanderPrendota commented on #24
You can set the height you want like in https://play.kotlinlang.org

[2018-10-25 06:59] #24 closed

[2018-10-31 05:57] gzoritchak opened #26 "Expose launch function"
We would like to run automatically the code when the user scroll on some examples of code.

We're currently using some hacking code to do that. It would be better if a launch function would be exposed.

[2018-10-31 12:33] AlexanderPrendota commented on #26
I don't think it's a kotlin playground component issue. It's just a plain component to embed in websites for running code. It should not have to adapt to each client.
However you could add the new [`event`](https://github.com/JetBrains/kotlin-playground#events) function you want.

[2018-10-31 14:32] gzoritchak commented on #26
I don't understand what you mean.

It's not about adapting to each client. Launching the execution from the API seems to be a pretty generic feature. Each client may have its own UI and want to decide at what moment execute the code. We want to produce this [kind of tutorials](http://paperjs.org/tutorials/paths/working-with-path-items/) but without launching all the code by default. We launch it i

[2018-11-01 14:02] lahanegs commented on #24
I can't find it!

[2018-11-01 14:53] AlexanderPrendota commented on #24
[code]

[2018-11-01 22:54] gzoritchak commented on #26
Thank's a lot, it's working fine.

I have only one concern about the name of the function. `getInstance` is not easy to understand because you are not calling `getInstance` but instead giving a function that is going to be called to retrieve the executor. Maybe something like `grabExecutor`, `instanciatedExecutorCallback`... ? Executor is more precise than "instance" and also the API should emphas

[2018-11-02 07:06] AlexanderPrendota commented on #26
🤔
If you print `instance` parameter like
[code]

You may see the current playground state and that state has the `execute` method to run the code.

ps. I like `grabExecutor ` 🙂

[2018-11-02 08:57] AlexanderPrendota commented on #26
also I add a little bit API spec [`60282e`](https://github.com/JetBrains/kotlin-playground/commit/60282efe948c1938741fc61a64821384e7d1d6f2).

What do you think about it?

[2018-11-02 22:58] s1monw1 opened #27 "Integrate with reveal.js"
It would be nice to integrate this with reveal.js so that we can run code in a presentation, which should be possible. Do you happen to have something like this already?

[2018-11-03 21:59] gzoritchak opened #28 "Waiting for try.kotlinlang.org"
I didn't find the sequence to reproduce it but quite often the browser indicates that it is waiting for the server (even if the result seems to came back).

![image](https://user-images.githubusercontent.com/1110254/47957728-c3b38280-dfbb-11e8-8001-8716173dd48c.png)

[2018-11-03 23:18] gzoritchak opened #29 "No completion when using folded code"
When using folded code (with line/to attributes or //sampleStart //sampleEnd comments), the editor doesn't propose code completion.

On [this example](https://play.data2viz.io/tutorials/getting-started/) completion is working (try to change the color by typing Colors.Web.b + completion).

On the examples of [this page](https://play.data2viz.io/tutorials/colors/), it's not working.

When expanding

[2018-11-04 09:57] LouisCAD commented on #28
I'm also encountering frequent "Waiting for try.kotlinlang.org" messages from the browser when on a website with Kotlin playgrounds.

[2018-11-06 07:44] AlexanderPrendota commented on #27
Hi! Actually no and I haven't got any plans to integrate this with reveal.js.
For example,  if you need to add playground to your slides you can load library from script tag like
[code]
So if you have any ideas and times you can become a contributor  🎉😊

[2018-11-06 07:48] AlexanderPrendota commented on #28
🤔🧐
Actually I can not reproduced it. Why are you worried?

[2018-11-06 07:53] AlexanderPrendota commented on #26
meet [`1.15.0`](https://github.com/JetBrains/kotlin-playground/releases/tag/v1.15.0)

[2018-11-06 07:53] #26 closed

[2018-11-06 09:44] AlexanderPrendota commented on #28
waiting for compile.data2viz.io?
Wwe're loading javascript libraries like `kotlin.js` from try.kotl.in into iframe for compilation code on target platform JS.
Why it's an issue? =)

[2018-11-06 09:45] AlexanderPrendota commented on #28
I guess it's depend on internet connection

[2018-11-06 09:52] AlexanderPrendota commented on #29
Yes. I know. It's a very very very old issue.
We have two different editor when we use the folded mode. It's not easy to get actual character and line position in folded code.

Probably we can use codemirror [`folded mode`](https://codemirror.net/demo/folding.html) but actually I'm not sure it helps.

[2018-11-06 10:14] LouisCAD commented on #28
This screenshot has been taken on 300-700Mbps fiber connection, well after
loading of compilation and run result. It never goes away once I see it,
unless I close the tab.

On Tue, Nov 6, 2018, 10:45 AM Alexander Prendota <notifications@github.com>
wrote:

[2018-11-06 10:48] gzoritchak commented on #28
It's an issue
 1. because it adds a rectangle on top of the page which is not nice,
 2. it gives a bad feeling to the user that thinks something didn't load,
 3. I don't like to leave something weird without understanding ;-)

No, it's not an internet connection problem. It's very easy to reproduce on https://play.kotlinlang.org/byExample/09_Kotlin_JS/05_Canvas
Just run it few times.

[2018-11-06 11:40] AlexanderPrendota commented on #29
😄
I guess the code completion it's not main feature in folded code 😉.
So I could not found fast solution on this problem :( Probably I'll take a look later.

[2018-11-06 11:43] AlexanderPrendota commented on #28
Okay! I'll take a look

<img width="250" alt="screen shot 2018-11-06 at 2 42 41 pm" src="https://user-images.githubusercontent.com/10503748/48062155-3bf39100-e1d2-11e8-9d7f-9cc1b9f78ac9.png">

[2018-11-06 11:50] gzoritchak commented on #29
Well it is actually. We are going to remove the folded code in our examples.

[2018-11-06 11:55] AlexanderPrendota commented on #29
Hmm! It's a good idea! Drop all the the folded code, forget about this bug and close the issue 😉

So. You can take a look on codemirror folded mode. May be it's a good solution on your examples.

[2018-11-06 17:04] AlexanderPrendota commented on #29
@gzoritchak as usual I added a little path [`6fc579`](https://github.com/JetBrains/kotlin-playground/commit/6fc5790ba4cb14a440edc86c6ef06dc08b52720d). Please check it on your side.

So, `done, check version 1.15.1` later 😄

[2018-11-06 17:45] gzoritchak commented on #29
You also made me discover that, if it's impossible to rewrite history in git, it's possible on github to make some comments disappear. ;-)

[2018-11-06 17:45] #29 closed

[2018-11-13 08:59] calvellido opened #33 "Allow to set webDemo URL as runtime parameter"
Hi!  In the Arrow library we are keeping a couple of forks of both Try Kotlin and Kotlin Playground. While most of the forked code is only interesting for our purposes, these days a feature request has popped up (https://github.com/arrow-kt/arrow-playground/issues/13) that might be interesting for this project too.

A way of overwriting the server URL at runtime might be interesting for other Kotl

[2018-11-13 09:30] calvellido commented on #33
Yes, I know that it can be changed at build time, but the goal is to have the possibility of overwriting it at runtime (exactly like you mentioned) to test code snippets of possible features not yet published (e.g. when writing docs) and things like that.

[2018-11-13 09:34] calvellido commented on #33
While it might not be seen as valuable from a just Kotlin code point of view, for people working on Kotlin libraries it can be really helpful, as you can host a Try Kotlin instance with your library included and then directly use this same Kotlin Playground without the need to build it yourself (probably most of the people behind those libraries won't like/know to fiddle with JS code).

[2018-11-13 09:48] AlexanderPrendota commented on #33
Okay! Thank you for the issue! I'll take a look 🙂

[2018-11-13 09:53] calvellido commented on #33
Eh!  I can start working on it as soon as today and submit a PR if you'd like, as I was to add it to our fork, but if you prefer to have a look yourself :+1:

[2018-11-13 10:01] AlexanderPrendota commented on #33
Feel free to submit the PR. I guess it's a good feature and I try to help you! Thanks!

[2018-11-14 12:55] AlexanderPrendota commented on #33
@gzoritchak maybe you are also interested in this issue

[2018-11-21 09:24] pmariac opened #37 "CTRL+R should run code but refresh page (WIN10 - CHROME)"
As seen below, CTRL+R should run code, and it works great on mac, but on windows / chrome (or edge 😄 ) this shortcut is hijacked by browser and refresh the page.

![image](https://user-images.githubusercontent.com/28013510/48831189-9a924080-ed76-11e8-8196-ee7e349cc525.png)

[2018-11-21 09:32] pmariac commented on #37
OK shortcut is CTRL + F9 on win, should have read it

![image](https://user-images.githubusercontent.com/28013510/48832093-ad0d7980-ed78-11e8-96ac-ac313063feed.png)

[2018-11-21 09:32] #37 closed

[2018-11-21 15:40] pmariac opened #38 "[WIN / EDGE] issue when compiling code on some pages of play.kotlinlang.org"
Just checking play with edge browser, found some errors when trying to run examples 2 & 3 on this page https://play.kotlinlang.org/byExample/05_stdlib/05_existential

I get these errors on MS EDGE :

![image](https://user-images.githubusercontent.com/28013510/48851686-fa570e80-edab-11e8-8be9-14493c3a6213.png)

the first 2 request are when running the first block of code
the 2 next when running the

[2018-11-22 16:57] gabin8 opened #39 "Add ktor to allowed imports"
As kotlin pretends to be multiplatform language I suggest to allow imports of multiplatform libraries, such as ktor, which is fully multiplatform. Btw, kotlinx.coroutines.* are already supported by playground

[2018-11-23 08:39] #33 closed

[2018-11-23 16:57] gzoritchak commented on #33
@AlexanderPrendota could you release this new version? Thanks!

[2018-11-23 17:05] gzoritchak commented on #28
I can now add a new element on the "why this is an issue" list.

We are implementing an local history of the code using HTML5 `history.pushState()`. It's working fine until this "waiting for ..." appears.

[2018-11-24 23:32] gzoritchak commented on #28
Also we need the place for our footer. See https://play.data2viz.io/sketch/

![image](https://user-images.githubusercontent.com/1110254/48973856-a6695580-f049-11e8-8ef6-5333c4bd0422.png)

[2018-11-26 07:47] AlexanderPrendota commented on #28
I guess it's due to Iframe reasons: https://stackoverflow.com/questions/23851818/chrome-iframe-history-not-behaving-correctly-with-2-or-more-iframes-on-page-ve. Probably..
I'll try to find the reason of the problem.

[2018-11-26 09:06] gzoritchak commented on #28
It's the same for firefox, even with one iframe. See on https://play.data2viz.io/sketch/

[2018-11-26 09:30] AlexanderPrendota commented on #28
Yep I see. If you force drop the iframe the inscription will disappear

[2018-11-26 09:31] gzoritchak commented on #28
What do you mean by " If you force drop the iframe".

[2018-11-26 09:32] AlexanderPrendota commented on #28
Just remove the iframe from DOM elements

[2018-11-26 10:20] AlexanderPrendota commented on #28
@gzoritchak I guest it's due to Jquery library. Why? I still have no idea. Could you drop default Jquery lib from your side and test?

[2018-11-26 10:32] AlexanderPrendota commented on #28
hm, in private mode it works fine

[2018-11-26 10:41] gzoritchak commented on #28
It's not a problem of jquery. Without it the problem is still here.

[2018-11-26 10:46] AlexanderPrendota commented on #28
Yes I know =) I've already tested it. It's a problem around the iframe

[2018-11-26 10:48] gzoritchak commented on #28
During the fetch from the iframe? whatwg-fetch?

[2018-11-26 10:52] AlexanderPrendota commented on #28
I updated `whatwg-fetch` to the last version today

[2018-11-26 12:36] AlexanderPrendota commented on #28
really? =)

[2018-11-26 13:13] gzoritchak commented on #28
After the update, the problem completely disappeared for my colleague @azertypow. I still had it but less frequently. We checked the difference between our configuration and after Adblock uninstall (pause wasn't enough) on my **chrome** the problem also disappeared.

But on firefox, without any plugin and also in private mode, the problem is still here...

[2018-11-27 08:35] AlexanderPrendota commented on #28
I released the version 1.18.0. Let's test.

[2018-11-27 12:19] gzoritchak commented on #33
Thanks @calvellido and @AlexanderPrendota.
I just deployed it : https://play.data2viz.io/

[2018-11-28 15:42] gzoritchak opened #40 "Remove jquery from defaults"
As jquery is deprecated in kotlin/JS, its use should be an opt-in decision.

[2018-11-28 16:26] gzoritchak opened #41 "Load kotlin.js from unpkg.com"
As kotlin.js versions are available on npm, it could be more interesting to load it from unpkg.com:

1. global CDN,
2. better caching of libraries,
3. less load on compile server.

[2018-11-29 09:39] AlexanderPrendota commented on #41
We could load `kotlin.js` from `https://www.jsdelivr.com/package/npm/kotlin` but I can not find the `1.0.7` version.

[2018-11-29 09:41] AlexanderPrendota commented on #40
Hm..and what about users who already uses JQuery as a default library? :)

[2018-11-29 11:00] jimaek commented on #41
There is no 1.0.7 published to npm https://www.npmjs.com/package/kotlin
That's where jsdelivr pulls the data from https://cdn.jsdelivr.net/npm/kotlin/

[2018-11-29 11:11] gzoritchak commented on #40
I agree it's a breaking change but:
  1. the workaround is very easy to set up.
  2. who is using jquery today? ;-)
  3. imposing the load of jquery to everybody is quite weird.

[2018-11-29 11:14] gzoritchak commented on #41
It's still possible to deploy the 1.0.7 version, no?

[2018-11-29 11:33] gzoritchak commented on #41
https://youtrack.jetbrains.com/issue/KT-28530

[2018-12-03 10:14] gzoritchak commented on #41
@AlexanderPrendota you just removed you vote on the youtrack bug.
You think its resolution it's not necessary/possible?

[2018-12-03 10:43] AlexanderPrendota commented on #41
Oh..I accidentally did it. Sorry!  Fixed! 🙂

[2019-02-02 03:11] fgutmann opened #43 "Firefox "Unhandled JavaScript exception: ""
When executing the following code on Firefox  64.0.2  on Mac OS, the result is `Unhandeled Javascript Exception`. It works fine in Chrome.

[code]

It took quite some time to isolate the issue because there is no error description at all. The error handling code in `showJsException(e)` fails to extract the information of this exception. Logging the exception to the console gives some useful inform

[2019-03-05 15:54] ldu2 opened #44 "Assigning single elements to varargs in named form is forbidden in Kotlin Koans"
So here is the question that always returns the error
`Assigning single elements to varargs in named form is forbidden`
https://play.kotlinlang.org/koans/Collections/Compound%20tasks/Task.kt
You can just copy and paste the answer to the right place and it will still throw the error. I went through the whole tutorial and almost finish it, 98% done. Just want to get this last one straight. Can you g

[2019-03-05 17:12] AlexanderPrendota commented on #44
Hello! Thanks! I will take a look

[2019-03-07 06:36] rooton opened #45 "Editor font size"
Font is too big. Please add font size change ability to setting.

[2019-03-07 11:37] AlexanderPrendota commented on #45
On play.kot.in?

[2019-03-22 12:34] fgutmann opened #46 "data-js-libs not ending in .js"
The `getJsLibraries` function filters out every library that doesn't match the regex `https?://.+\.js$`.

We have a case where we have to append a version code after the library. e.g `https://example.com/lib.js?version=1.2`.

Would you be ok with making the regex more broad or removing it all together?
Does anybody know why it was introduced in the first place?

[2019-03-22 13:35] AlexanderPrendota commented on #46
Hi!

Sure. Why not? 🙂

[2019-03-22 13:56] AlexanderPrendota commented on #45
Oh.
Maybe? https://github.com/JetBrains/kotlin-playground/issues/24
You can set the font size you like

[2019-03-22 13:56] #45 closed

[2019-03-22 14:53] fgutmann commented on #46
How broad is fine for you? :-)

`https?://.*` would make it much more flexible.
Honestly though I don't see much value in the regex at all.

In my opinion it just hides a user error. It was necessary to  read the source code to figure out what was going on.

I prefer to see a script loading failure in the developer console, over having one of the configured libs silently filtered out.

[2019-03-22 14:55] rooton commented on #45
Really, from developer console?

[2019-03-22 15:00] rooton opened #47 "Editor font size"
Font is too big. Please add font size change ability to setting.

P.S

if you don`t plan to do it, just write. Please don`t give such stupid answer like
https://github.com/JetBrains/kotlin-playground/issues/45

[2019-03-22 15:52] AlexanderPrendota commented on #47
Hello! Thank you for the feedback.

You can add some css-styles to your playground component.
What kind of settings do you want to?

1) Add another attribute in [attributes](https://github.com/JetBrains/kotlin-playground#customizing-editors)?
2) Add another option in [options](https://github.com/JetBrains/kotlin-playground#options)

Thanks.

[2019-03-24 23:15] fgutmann opened #49 "target-platform js indefinite loading with js-libs"
Multiple `target-platform="js"` playgrounds with different `data-js-libs` on one page don't execute properly. Some of them keep loading indefinitely.

In this example, the second one is broken.
http://www.redsource.at/playground/kotlin-playground-js-js-libs.html

[2019-03-26 07:05] AlexanderPrendota commented on #49
Hi! Thanks!
Ah I see. I have forgotten about external JS libs. So let me have a look at your solution. Thanks

[2019-03-26 11:48] fgutmann commented on #49
Hi Alexander!

You are very welcome. Thanks for providing this nice tool. It makes teaching kotlin way more easy :-)

As stated in the PR, the solution is not perfect yet. In my opinion in the end it will be best to have a separate iframe for each `js` executable too. Basically we would just handle it the same way like `canvas` with `data-output-height="0"`.

**Why I think this is a good idea**

F

[2019-03-27 13:32] #46 closed

[2019-03-28 06:23] #28 closed

[2019-04-19 08:08] AlexanderPrendota commented on #44
cc @svtk

[2019-04-22 07:27] #49 closed

[2019-04-24 08:40] AlexanderPrendota commented on #43
Hey! Should we close that issue? =) #28 was fixed.

[2019-04-24 10:12] fgutmann commented on #43
Hi :-)

Unfortunately the issue still exists. But by now I don't think the root cause of it is to be found in the kotlin-playground library.

All that can be done from this side is to provide better error logging. I created https://github.com/JetBrains/kotlin-playground/pull/52 for this.

For people with the same issue: When the canvas is added to the DOM before accessing the context, everything w

[2019-04-24 10:12] #43 closed

[2019-04-26 03:58] gslahane opened #53 "Add automatic code conversion from Java to Kotlin"

[2019-04-28 20:05] AlexanderPrendota commented on #49
@fgutmann Hi! If I can not close the console. I got the
[code]

after your changes. Could you take a look please?

[2019-04-28 20:05] AlexanderPrendota commented on #49
I can not create a new version :(

[2019-04-28 20:10] AlexanderPrendota commented on #49
So I added a simple condition. Ok for u? Please

[2019-04-28 20:24] fgutmann commented on #49
You're totally right, I forgot to test to close the console for Java.
The condition is the proper fix. Thank you!

[2019-04-28 20:38] AlexanderPrendota commented on #49
You are welcome :)

[2019-05-02 14:37] kyp44 commented on #44
Having this same issue! Any progress on a fix?

[2019-05-07 14:59] AlexanderPrendota commented on #44
Yep! I updated the test files. =)

[2019-05-07 14:59] #44 closed

[2019-05-21 12:58] fgutmann opened #56 "change mentions of npm in readme to yarn"
Using `npm` can cause issues because it may resolve to different dependency versions than `yarn`. We have commited a `yarn.lock` file but no equivalent file for `npm`.

For that reason we should change the mentions of `npm` in `readme.md` to their equivalent `yarn` commands.

If I remember correctly we had already some kind of agreement on this in a dependency-related discussion in one of the pull

[2019-05-31 11:54] szakal opened #57 "Embedded iframe - font size"
Is it possible to embed the iframe from kotlin playground and pass the font size as the parameter in the URL? It would be nice to be able to embed kotlin samples on pages like slides.com so you could run the samples directly from the presentation.

[2019-06-21 13:50] commonsguy opened #58 "Playground Supports Run from File, Not from Web Server"
Given this page:

[code]

If you load that page directly in a Web browser (`file:` scheme), the Playground shows the green "Run" button and allows you to execute the Kotlin code, showing the result.

If you load that page from a Web server, it does not. See, for example, [this hosted copy of that page](https://commonsware.com/misc/playground.html). Or, use [your favorite local Web server](https://

[2019-06-21 21:28] commonsguy commented on #58
More specifically, we get this:

[code]

which then results in `Cann't get kotlin version from server` from [here](https://github.com/JetBrains/kotlin-playground/blob/v1.19.0/src/executable-code/index.js#L295).

[The URL cited in the error](https://try.kotlinlang.org/kotlinServer?type=getKotlinVersions) works, and this repo's instructions indicate that we should be able to talk to that server from

[2019-06-26 16:26] MMauro94 opened #59 "Wrong indent when `>` is in code"
I think I've found a bug: when using the `from` and `to` parameters with the character `>` is present in the code the indents are screwed up.

See attached HTML for example.

[test.zip](https://github.com/JetBrains/kotlin-playground/files/3331027/test.zip)

[2019-07-01 08:29] AlexanderPrendota commented on #56
Thanks =)

[2019-07-01 08:29] #56 closed

[2019-07-01 14:58] gzoritchak commented on #41
@AlexanderPrendota :

@bashor has made some work on the issue. Can you confirm it's okay for you? 

https://youtrack.jetbrains.com/issue/KT-28530#focus=streamItem-27-3541232.0-0

[2019-07-15 09:15] AlexanderPrendota commented on #59
Hey! Thank you for the report. Yes, you are right.
it's due to `//Doing things` after `>`.
As I understand there is a bug in CodeMirror library in [`clike`](https://github.com/codemirror/CodeMirror/blob/master/mode/clike/clike.js#L637) mode. :(

[2019-07-15 12:01] MMauro94 commented on #59
What do you mean? When removing the comment (and leaving just the two prints) the wrong indent is still present on the first line of the lambda.

Should I report this bug to them then?

[2019-07-15 13:13] AlexanderPrendota commented on #59
[test.html.zip](https://github.com/JetBrains/kotlin-playground/files/3392417/test.html.zip)
It works without a comment line on my side

[2019-07-15 14:41] MMauro94 commented on #59
You forgot to change the `to` value to `5`, since we've removed a line.

[test.zip](https://github.com/JetBrains/kotlin-playground/files/3392740/test.zip)

[2019-07-17 06:53] AlexanderPrendota commented on #59
Ah! I see! Thanks! Yep, I reproduced it.
So, really, there is a problem with auto-indent in codemirror.
Try to set the attribute `auto-indent="true"` and remove attributes `to` & `from`.

[2019-07-17 09:55] MMauro94 commented on #59
It works by removing `to` and `from` and setting `auto-indent` to **`false`**. Any other combination doesn't work. The problem is that I need the `from` and `to` parameters to hide some reduntant code and imports, so I'll have to deal with the wrong indent for the time being I guess.

Also, I discovered that the issue appears only when either character `-` or `>` are in the code, but not if it's i

[2019-07-17 10:03] AlexanderPrendota commented on #59
false value - default. Try:
[code]

[2019-07-17 10:04] AlexanderPrendota commented on #59
Yes. There is an issue in clike mode in Codemirror =(

[2019-07-17 10:05] AlexanderPrendota commented on #59
Yes. U can see how auto-indent works [here](https://github.com/codemirror/CodeMirror/blob/17457466015551c7bf9292896baaa69e738f0d49/mode/clike/clike.js#L679)

[2019-07-17 10:27] MMauro94 commented on #59
Your provided example still has the issue.

Should I open an issue in Codemirror then?

Apparently it detects the last character (`>`), thinks it's an operator and for this reason adds the indent.

[2019-07-29 06:46] #41 closed

[2019-07-29 08:54] gzoritchak commented on #41
Thanks @AlexanderPrendota

[2019-08-23 12:34] jmfayard opened #64 "Embedded URL vs link to the playground"
Hello,

I'm adding support for embedding kotlin playground in https://dev.to

One issue I'm having is that I would like to prevent people from using not the embedded link (from the medium tab) but the link to edit the playground.

Is there a way to distinguish which url is embedded or not?

https://github.com/thepracticaldev/dev.to/pull/3801

[2019-08-26 08:26] AlexanderPrendota commented on #64
Hi!  :)
Could you please add more description?

[2019-08-26 11:45] jmfayard commented on #64
@AlexanderPrendota This [kotlinplayground.html](https://gist.github.com/jmfayard/9f0d53554f2d02e602ef62ea05db9d2a) is rendered like this:

![image](https://user-images.githubusercontent.com/459464/63688351-6ff27e00-c807-11e9-8ae5-9a10d26164e3.png)

I want to prevent the people writing on http://dev.to to make the mistake to use the wrong link when they embed a code snippet.

Let say the URLs were

[2019-08-27 07:33] AlexanderPrendota commented on #64
Hey. Ah, got it.

Your link `https://pl.kotl.in/owreUFFUG?embedded&theme=darcula&from=3&to=6` will redirect on `https://play.kotlinlang.org/embed?short=owreUFFUG&embedded&theme=darcula&from=3&to=6`. You can prevent people by `/embed` url.

Does it possible?

[2019-08-29 15:25] jmfayard commented on #64
That solves my problem, thank you @AlexanderPrendota

[2019-09-03 14:21] jmfayard commented on #64
Hello @AlexanderPrendota
My pull-request for embedding Kotlin Playground snippets is now live in dev.to

For example you can see [at this URL](https://dev.to/jmfayard/runnable-kotlin-snippet-on-dev-to-37ji-temp-slug-9451866?preview=2319fbd17d4f2e85e6102144bcb562ac7b3a0aa5593cc850b2dd0d4a4b70686a084abe85a2610c8291e26691ea714bc2c3dc66190b6d4ea845074997)

![image](https://user-images.githubuserconten

[2019-09-10 09:58] AlexanderPrendota commented on #64
The problem due to iframe resizing. We will have a look. Thanks!

[2019-09-11 11:39] AlexanderPrendota commented on #64
@jmfayard Do you know `dev.to` has API for iframe resing? I can send some events on editor changes.
for examples, emdedly platform provides resizing for the Medium : https://docs.embed.ly/v1.0/docs/provider-height-resizing

[2019-09-19 11:39] DenisNP opened #67 "Add option to auto-open collapsed block"
The collapsed block appears when you are using `//sampleStart` `//sampleEnd` markers. This block is closed by default, which is not always convenient. So, maybe add an attribute to show it opened by default.

[2019-11-13 20:27] codeteo opened #71 "Add shortcut to close/hide the console"
Just a shortcut to close the console with the output. When working from a laptop
console takes too much space of the screen property and you need to click
the close (X) button.

A shortcut would be very handy. (`Ctrl+X` for example)

Thanks!

[2019-11-29 14:39] AlexanderPrendota commented on #64
@jmfayard Any updates here?

[2019-11-29 18:26] jmfayard commented on #64
@AlexanderPrendota I have asked the dev.to team right now here
https://github.com/thepracticaldev/dev.to/issues/4011

[2019-11-30 12:50] AlexanderPrendota commented on #64
Thanks!

[2020-01-01 21:29] Gabgab2003 opened #72 "Add an option to have the console open from the beginning"
The console opening changes the size of the editor a lot so it wold be nice to have an option to have it be open from the beginning

[2020-01-02 00:03] AlexanderPrendota commented on #72
Hello!
Thanks for the feedback.

Why do you need that? How the opened console could help you?
BTW If you need the editor size you can  use [event functions](https://github.com/JetBrains/kotlin-playground#options) `onCloseConsole` or `onOpenConsole` to get `offsetHeight` of node.

[2020-01-15 15:24] gslahane commented on #45
I had submitted the issue but no satisfying reply

[2020-01-15 15:35] AlexanderPrendota commented on #45
@zoobestik could you take a look please?

[2020-01-16 11:02] zoobestik commented on #45
@rooton I'm waiting your feedback in #47

[2020-01-28 08:06] CodingDiMo opened #73 "Non-latin characters are broken in the result"
In recent releases, non-Latin characters are broken in the result. It looks like an error.

[2020-02-18 20:43] zoobestik commented on #73
Hi! What are characters?
Can you provide some examples. It was working when I tested it with cyrillic.
Thx...

[2020-04-11 20:50] anggun21 opened #80 "off"
program

[2020-04-11 20:52] anggun21 commented on #80
off program kotlin class

[2020-04-23 08:43] spyro2000 opened #81 "No (manual or auto) import?"
Wenn using common expressions like `measureTimeMillis{}` I just get an error about the unresolved reference. There seem to be no possiblity to import those other than googling it and manually copy & pasting the import path?

[2020-04-23 08:46] AlexanderPrendota commented on #81
Hello! Thanks for the feedback. The feature still not implemented on the server-side of the playground.

[2020-05-02 16:13] JavierSegoviaCordoba opened #82 "data is detected as keyword when used as named param of a function"
Actually data is appearing with the orange color (darcula theme) when it is used as named param.

[code]

[2020-05-06 17:43] JgdshSeerm commented on #71
Yes, this option should be added as priority.

The output console is too annoying.

[2020-05-07 23:44] DavidScales opened #83 "feat/PR request: onOutputReady event"
I'm using Kotlin Playground in an iframe, and I need to expand the iframe size based on the height of the playground.

Right now I can update the iframe size with postMessage. I use the `onChange` event to check if the playground height has changed (from user's editing code) and update the iframe height accordingly.

When the code is compiled and output or exceptions are displayed in the output wi

[2020-05-08 22:25] DavidScales commented on #83
For example in **executable-fragment.js**, when calling `execute`, adding something like

`if (onOutputReady) onOutputReady(); `

Once output is returned from the compiling server seems to work:

[code]

Then I can just pass in an `onOutputReady` callback when instantiating the playground:

[code]

[2020-05-09 09:25] AlexanderPrendota commented on #83
Hello, thanks for the feedback! We will have a look. 😊

[2020-05-10 17:49] zoobestik commented on #83
@DavidScales We have [PR#84](https://github.com/JetBrains/kotlin-playground/pull/84) with stream output. Output will be received by chunks. Do you need update by any chunks or with one event like `onOutputReady` in this case?

[2020-05-12 19:45] DavidScales commented on #83
Hmm, I don't know that I necessarily need output in chunks (although that sounds like a good idea).

What I really need is to know when the output (chunk or final) has been added to the DOM.

Here is my situation visualized, right now I have the editor in an iframe:

![initial_iframe](https://user-images.githubusercontent.com/16726377/81737435-f1994300-944c-11ea-8121-af8fc4f9bed2.png)

When output

[2020-05-14 02:38] shoukreytom opened #86 "Can't get input from user"
I'm trying to get a data from a user I've tried readLine() and Scanner(System.`in`) but it keeps returning null which means your playground doesn't support this feature.
    while this is the most important part from any programming language, so I hope that you'll add it as soon as you could.

[2020-05-27 14:53] #86 closed

[2020-07-19 18:05] MarcinAman opened #91 "Issues with display:none"
Hi,
in some cases i'd like to hide a sample using `display: none`. My issue is that when i show it, it doesn't look the way it should. Example:
![image](https://user-images.githubusercontent.com/15652452/87881634-d9204880-c9fa-11ea-93d3-41adfcd462aa.png)

The sample is there because when i don't use `display: none` it renders correctly:
![image](https://user-images.githubusercontent.com/15652452/8

[2020-07-19 21:36] AlexanderPrendota commented on #91
Hey, did u try to set the `display: none` for class `executable-fragment-wrapper`?  It works [for my side](https://jetbrains.github.io/kotlin-playground/examples/).

[2020-07-20 08:10] MarcinAman commented on #91
It doesn't work if i do it like:
[code]

But it does work when i do the same thing that is in kotlin example:
[code]
[code]

So basically the only difference that i can see is initialisation time.
Then i've tried yet another test: i went back to my original sample and remove the styles. Then opened the page and added the same styles manually. As it turns out, it work.
Imho the issue is related to

[2020-07-28 19:00] Gabgab2003 commented on #72
If you have a row of 2 or more embeds, and you open the console on 1 of them, it shifts the whole row size and the others dont take up enough space until you run the console on them again

[2020-08-25 21:25] jabrena opened #97 "How complex could be to compile Java?"
Hi,

I was reviewing concept in multiple `Kotlin` projects and I would like to do the same stuff with Java.
How complex could be the configuration/change of this project in order to compile Java examples?

Currently if I try to compile Java in any example:

[code]
https://blog.jetbrains.com/kotlin/2018/04/embedding-kotlin-playground/

I receive the following errors:

[code]

I would like to learn

[2020-08-26 07:32] AlexanderPrendota commented on #97
Hey, you need to provide a compiler server for java. [Kotlin server example](https://github.com/AlexanderPrendota/kotlin-compiler-server).

[2020-08-26 13:29] #97 closed

[2020-09-10 19:15] AlexanderPrendota commented on #81
fixed in 1.23.0

[2020-10-11 01:43] fernandospr opened #103 "Share code > Embed iframe not working"
Using the **Share > Embed** option from the [Kotlin Playground](https://play.kotlinlang.org/) will generate something similar to this code:
`<iframe src="https://pl.kotl.in/gIk0UQVi1"></iframe>`

However, embedding this into a web page won't always render the code. E.g. pasting it in [https://codepen.io/pen/](https://codepen.io/pen/).

The same happens if you try to open [https://pl.kotl.in/gIk0UQ

[2020-11-17 11:10] holgerbrandl opened #105 "Examples are partially broken"
When opening the examples from the repo landing page,  two of them do not work and throw errors instead:

![image](https://user-images.githubusercontent.com/200952/99382081-428e6600-28cc-11eb-997f-01a3e90d526f.png)

[2020-11-17 11:49] AlexanderPrendota commented on #105
Hey, thanks for the feedback. The first one is correct. Please write some code in TODO() section. @zoobestik Please have a look at the canvas example.

[2020-11-17 13:57] holgerbrandl commented on #105
Imho, the first "failing" example lacks intuition: there is just a function declaration but no callsite, so why is the code throwing an error? I think if there would be a little plus sign (as for some of the other examples) that details out an execution context (main, test or similar) it would be easier to follow.

[2020-11-20 23:28] zoobestik commented on #105
Canvas has little bit legacy for 1.4. Actual code in [this PR)(https://github.com/JetBrains/kotlin-playground/pull/106).

[2020-11-20 23:58] zoobestik commented on #105
@holgerbrandl about first point,

it's example about **unfolded** code - `just set the attribute folded-button to false value.`
It's clear with full code.

If you don't like it, just will not use attribute or folding at all.

![Screenshot 2020-11-21 at 02 49 44](https://user-images.githubusercontent.com/242514/99860589-8622f180-2ba4-11eb-9d1a-3f674ff05758.png)

Or what is your real case?

[2020-11-21 21:20] #105 closed

[2020-12-29 14:32] yschimke opened #109 "main.kts support"
Kotlin scripting is well supported from the command line, also within Intellij (outside source roots).

It would be nice to have main.kts support to run an example like

https://github.com/square/okhttp/blob/3b79fdcba95fefdf0348a91f43aa888aa906db4b/samples/guide/kts/get.main.kts

[2020-12-30 08:08] AlexanderPrendota commented on #109
Hey, thanks for the issue. Very nice feature request. First of all the feature should be implemented on the server-side and then It will work in Kotlin Playground out of the box, I guess.

[2020-12-30 08:45] yschimke commented on #109
Any code pointers, if it's straight forward I could be tempted to try.

[2020-12-30 09:59] AlexanderPrendota commented on #109
=) You are welcome. https://github.com/AlexanderPrendota/kotlin-compiler-server

[2020-12-30 12:34] erokhins commented on #109
cc @ligee @zarechenskiy

[2020-12-30 12:42] yschimke commented on #109
Please don't consider me blocking if it something that anyone else wants to bash out.  Just curious over holidays.

[2021-03-11 00:19] Vampire opened #115 "Also allow execution of Groovy in the JS component"
I know this is **Kotlin** playground.
But I thought I'd ask for this anyway as almost everything is in place already anyway,
so integrating this should not be a big deal.

For Groovy there is the Groovy web console at http://groovyconsole.appspot.com/ where you can execute code like on play.kotl.in.
If this is slightly modified to set CORS headers to allow other sites to call `executor.groovy` lik

[2021-04-16 08:17] sureshg commented on #103
I am also facing the same issue. Is there any workaround for this? Console log shows `Empty state of playground. Key: xxxxxx`

[2021-04-18 18:37] christian-draeger opened #119 "how to use external libraries"
is it possible to use libraries inside of playground?
i am maintaining an [open source kotlin library](https://github.com/skrapeit/skrape.it) (currently for JVM, KotlinJS is planed) and think it would be pretty nice to have prepared examples / code snippets on how to use the library via playground in the docs.
furthermore it would be really handy whilst trying out other libraries in general.
i cou

[2021-04-19 08:10] AlexanderPrendota commented on #119
Hello, @christian-draeger.

Unfortunately, you have to fork kotlin-compiler-server and add your library [as a dependency](https://github.com/AlexanderPrendota/kotlin-compiler-server#how-to-add-your-dependencies-to-kotlin-compiler-books).

You can host your own server or use [AWS lambdas](https://github.com/AlexanderPrendota/kotlin-compiler-server#from-amazon-lambda) or I recommend you to try the [

[2021-05-17 13:27] skuzmich opened #124 "Problem with `Ctrl + J` in Chrome + Linux"
"Show generated JS code" action is bound to `Ctrl + J` on Linux which instead opens a Download tab in Chrome.

Could you, please, make it as an on-screen button or choose a key combination that would work on all systems?

[2021-05-18 09:59] nikpachoo commented on #124
@skuzmich thanks for your feedback. We [take a look](https://youtrack.jetbrains.com/issue/KT-46745) at how we can improve that.

[2021-09-01 14:34] MarcinAman opened #131 "Changing theme dynamically"
Hi, is it possible to change the theme of sample dynamically (in JS). I have a theme toggler on my page therefore i'd like to also adjust the sample theme from `idea` to `darcula`. I've tried to just change the parameter manually but it doesn't seem to update anything (probably the change is not propagated)

Technically i could just render 2 versions and hide one but this results in super bad user

[2021-09-02 08:12] nikpachoo commented on #131
Hi, @MarcinAman! Thank you for your feedback.
Unfortunately, now the widget does not support changing the theme dynamically. As a workaround, instead of render 2 versions, you can try to recreate the widget with new parameters.
Something like that:
[code]

Most likely, we will add a possibility to change the theme dynamically, but it will take us some time to do this.

[2021-09-10 08:32] krzema12 commented on #103
I just had the same with `<iframe src="https://pl.kotl.in/_Fk8K5YRA"></iframe>`. It didn't work for two page refreshes, then it worked once (I thought it was a matter of some eventual consistency happening), then it stopped working. I was hoping to embed some snippets into my reveal.js presentation (#27), but seems it's too risky :sweat_smile:

[2021-09-10 08:48] krzema12 commented on #27
I gave it a try - in general it works:

![image](https://user-images.githubusercontent.com/3110813/132826202-479cc474-8dde-48e1-aa7d-f7dac7d57b6d.png)

but there are some features missing and little issues present that would optimize Playground for slide shows:
* built-in ability to increase font size. I could only hack through CSS which works only partially
* running the code programatically (abi

[2021-09-10 11:51] nikpachoo commented on #27
@krzema12, about the ​font size - we already have [KT-30099](https://youtrack.jetbrains.com/issue/).

[2021-09-11 20:52] fernandospr commented on #103
@krzema12 The workaround I'm currently using to embed code is to include the script `<script src="https://unpkg.com/kotlin-playground@1" data-selector="code"></script>` and then paste the code.

Example:
[code]
This is explained [here](https://jetbrains.github.io/kotlin-playground/).

[2021-11-09 10:32] nikpachoo commented on #124
Now "Show generated JS code" action is bound to Alt + J on Linux and Windows.

[2021-11-09 10:32] #124 closed

[2021-11-13 15:07] rami3l opened #137 "[Bug] Online playground is not working"
![pic](https://user-images.githubusercontent.com/33851577/141648788-8960dafa-046b-4b41-ac32-7f28b8c5d211.jpg)

I don't know if this is the right place to post, but I came across the Kotlin Playground today and encountered the following error:

[code]

Steps to reproduce:

1. Go to https://play.kotlinlang.org/
2. Click `Run` when the default "Hello, World" program shows up

[2021-11-13 15:40] nikpachoo commented on #137
@rami3l, thank you! We are working on fixing the problem.

[2021-11-13 15:42] Harri1970 commented on #137
I just started this Kotlin course and first hello world was not working, nice that I found this bug here. I will wait.

[2021-11-13 18:23] Bediruna commented on #137
Yes, I am experiencing this as well. The android playground is not working as well. https://developer.android.com/training/kotlinplayground

[2021-11-13 19:56] blackcrown01 commented on #137
still after 4hours since the bug was reported the kotlin playground still to this moment out  ???

[2021-11-13 20:39] Bediruna commented on #137
Well actually I started experiencing this yesterday. So it's been more than that.

[2021-11-13 21:24] SmooveW commented on #137
The one at developer.android.com/kotlinplayground is doing the same thing, assuming these are different instances and not just different front ends to the same thing. Suggests there is something wrong with Jetbrains.

[2021-11-13 21:25] Diegomaxi3 commented on #137
https://play.kotlinlang.org/          -> change setting to JS, it will execute your program. I don't Know if it's the best way, but it give me time to practice.

[2021-11-14 14:21] nikpachoo commented on #137
Thank you all for participating; everything works now.
We understand that such downtime is highly undesirable, and we will make our efforts to exclude such situations in the future.

[2021-11-14 14:21] #137 closed

[2022-01-14 11:12] Deleplace opened #144 "Copy sharable link to clipboard: the button sometimes doesn't work"
Thank you for the very nice Playground and the very useful sharable shortened links.

![image](https://user-images.githubusercontent.com/13508141/149505829-956f6e08-fb16-41ba-8fcc-e132678d907a.png)

### Expected behaviour (usually observed)

- I click Share in the right column
- I click the "Copy link to clipboard" button
  - The text "Copied" shows up
  - The link has been copied to the clipboard

[2022-01-14 11:15] Deleplace commented on #144
In the "abnormal behaviour" scenario, the link has been correctly generated and is already displayed in the popin. I'm confident this is a frontend problem browser-side, not server-side.

[2022-01-17 08:10] nikpachoo commented on #144
Hello, @Deleplace! Yeah, it looks like a problem on the frontend side.
This week we will release a significant update in which this problem should be fixed. We'll double-check it for sure.
Thank you a lot for reporting the issue.

[2022-01-25 13:48] nikpachoo commented on #144
Fixed 🎉

[2022-01-25 13:48] #144 closed

[2022-01-25 13:50] nikpachoo commented on #103
Finally fixed 🎉

[2022-01-25 13:50] #103 closed

[2022-04-19 13:25] roksui opened #157 "Kotlin coroutines possible bug with `GlobalScope.launch`"
When executing the following code snippet on [Kotlin Playground](https://play.kotlinlang.org/) or [Android Kotlin Playground](https://developer.android.com/training/kotlinplayground), an unexpected behavior occurs.

[code]

Since the delay time in the `runBlocking` block is 700ms, the expected output would be:
[code]

However, the actual output is:
[code]

It works find when run on IntelliJ IDEA,

[2022-04-21 01:22] kkkkan opened #158 "[Bug] Online playground is not working when use `Executors.newSingleThreadExecutor().asCoroutineDispatcher()` as CorotuineDisaptcher"
When  `Executors.newSingleThreadExecutor().asCoroutineDispatcher()`  is used as CorotuineDisaptcher in Kolin online playground , hardly success . ( But very occasionally successful.)
I encounted `Evaluation stopped while it's taking too long️`   error message.

|![image](https://user-images.githubusercontent.com/22609306/164351015-6a514da5-2efe-4851-a8d9-cb03fbefd3be.png)|
|--|

[code run](https:/

[2022-04-22 19:59] bwo opened #159 "no way to pass compiler options?"
I wanted to play around with context receivers and am getting the error "The feature "context receivers" is experimental and should be enabled explicitly". But if there's a way to enable it, I'm not seeing it. Is there? Is there intended to be?

[2022-04-25 10:01] nikpachoo commented on #159
Hello @bwo! Thanks for the question.
Unfortunately, there is no way to specify compiler options now.
Please vote for [this issue](https://youtrack.jetbrains.com/issue/KT-32405).

[2022-05-06 18:17] samuelneff opened #160 "Full source for play.kotlinlang.org available?"
Is the full source for play.kotlinlang.org available open source so we can run it locally (and add additional project dependencies to use in the playground)?

[2022-05-14 19:52] zoobestik commented on #160
@samuelneff i think you can use simple page with https://github.com/JetBrains/kotlin-playground

[2022-06-09 02:21] Sarah-Gallitz opened #162 "JS IR compiler cannot find dependency"
I tried to add the kotlinx.html dependency for JS compilation. It seems to work ok with legacy compilation, but IR compilation is not resolving the import.

Steps:
1. Add `maven("https://maven.pkg.jetbrains.space/public/p/kotlinx-html/maven")` at L62 build.gradle.kts
1. Add `kotlinJsDependency("org.jetbrains.kotlinx:kotlinx-html-js:0.7.5")` at L89 build.gradle.kts
1. This caused a duplicates error

[2022-06-09 05:17] Sarah-Gallitz commented on #162
Moved to the correct repository: https://github.com/AlexanderPrendota/kotlin-compiler-server/issues/497

[2022-06-09 05:17] #162 closed

[2022-06-28 18:12] correabuscar opened #164 "ability to use arguments that contain spaces"
https://pl.kotl.in/F9bzKs68u
![Untitled](https://user-images.githubusercontent.com/106607441/176253163-8a5cbcc5-ce27-40fc-bc8e-27ce81268581.png)

[code]
output:
[code]

[2022-06-29 08:35] nikpachoo commented on #164
Hello, @correabuscar!
Thank you for the reported issue.
I agree with you that such an opportunity should exist.
Moreover, the field doesn't help understand how a user must pass arguments. Should it be divided by a comma or semicolon or by space? The user has to guess.
We will try to find a suitable solution - [KT-53011](https://youtrack.jetbrains.com/issue/KT-53011/Playground-ability-to-use-argume

[2022-07-02 12:20] bighugedev opened #165 "The code doesn't compile"
The following code in Playground doesn't work: [Type checks and automatic casts﻿](https://play.kotlinlang.org/#eyJ2ZXJzaW9uIjoiMS43LjAiLCJwbGF0Zm9ybSI6ImphdmEiLCJhcmdzIjoiIiwibm9uZU1hcmtlcnMiOnRydWUsInRoZW1lIjoiaWRlYSIsImNvZGUiOiJmdW4gZ2V0U3RyaW5nTGVuZ3RoKG9iajogQW55KTogSW50PyB7XG4gICAgaWYgKG9iaiBpcyBTdHJpbmcpIHtcbiAgICAgICAgLy8gYG9iamAgaXMgYXV0b21hdGljYWxseSBjYXN0IHRvIGBTdHJpbmdgIGluIHRoaXMgYnJhb

[2022-10-08 02:53] masx200 opened #167 "cannot create a `hashMap` from a `List<Pair<String, String>>` by using `hashMapOf`"
cannot create a `hashMap` from a `List<Pair<String, String>>` by using `hashMapOf`

[code]
[code]

https://play.kotlinlang.org/#eyJ2ZXJzaW9uIjoiMS43LjEwIiwicGxhdGZvcm0iOiJqYXZhIiwiYXJncyI6IiIsIm5vbmVNYXJrZXJzIjp0cnVlLCJ0aGVtZSI6ImlkZWEiLCJjb2RlIjoiZnVuIG1haW4oKSB7XG5cbiAgICB2YWwgY29sb3JzID0gbGlzdE9mKFwicmVkXCIsIFwiYnJvd25cIiwgXCJncmV5XCIpXG4gICAgdmFsIGFuaW1hbHMgPSBsaXN0T2YoXCJmb3hcIiwgXCJiZWFyXCIs

[2022-10-08 04:28] masx200 commented on #167
[code]
[code]

[2022-10-08 05:08] masx200 commented on #167
[code]

https://play.kotlinlang.org/#eyJ2ZXJzaW9uIjoiMS43LjEwIiwicGxhdGZvcm0iOiJqYXZhIiwiYXJncyI6IiIsIm5vbmVNYXJrZXJzIjp0cnVlLCJ0aGVtZSI6ImlkZWEiLCJjb2RlIjoiZnVuIG1haW4oKSB7XG5cbiAgICB2YWwgY29sb3JzID0gbGlzdE9mKFwicmVkXCIsIFwiYnJvd25cIiwgXCJncmV5XCIpXG4gICAgdmFsIGFuaW1hbHMgPSBsaXN0T2YoXCJmb3hcIiwgXCJiZWFyXCIsIFwid29sZlwiKVxuICAgIHZhbCBtYXAgPSBIYXNoTWFwRnJvbShjb2xvcnMgemlwIGFuaW1hbHMpXG4gICAgICAgICA

[2022-10-08 05:35] masx200 commented on #167
[code]

[2022-10-08 08:00] masx200 commented on #167
[code]

[2022-10-08 15:43] masx200 commented on #167
[code]

[2022-10-09 06:45] #167 closed

[2022-10-14 06:50] liff opened #168 "Following a link to playground breaks browser back button"
Steps to reproduce:

1. Click [here](https://pl.kotl.in/O1fAzikKE),
2. click browser’s back button and
3. observe that it does not take you back to this issue.

Browser: Firefox 105.0.3.

[2022-11-12 17:22] thetrotfreak opened #169 "Editor & console flickering"
Started learning Kotlin a while ago, been using the [Kotlin playground](https://play.kotlinlang.org/) and I've noticed the following (**bugs**, _perhaps?_):

- For every keystroke typed in the **Program arguments** `input`, the **Editor & the console/output** `div` _flickers_.
- Additionally, it also _clears_ the text inside the **console/output** `div`.

Noticed on:

- Browser: `Microsoft Edge (V